:host{
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.main {
  display: flex;
  padding: 50px;
  padding-top: 25px;
}

.center{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CHARTS */
.container {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
  grid-gap: 20px;
  place-content: center;
  margin-top: 30px;
}

.container > .pie {
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}
