<div class="nav">
    <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="">home</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/masculine">male</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/female">female</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/totals">people</mat-icon>
</div>