.main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main > h1 {
    margin-bottom: 50px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-transform: capitalize;
    z-index: 1;
    width: 100%;    
    color: white,
}

.main > .buttons{
    width: 40%;
    display: flex;
    justify-content: center;
}

.main > .buttons > button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
    width: 50px;
    height: 50px;
    margin-bottom: 0%;
    background: transparent;
    border-radius: 350px;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bolder;
    z-index: 1;
}

.main > .buttons > button:hover{
    background-color: black;
    color: white;
}