<div class="main">
    <h1>DADES DEMOGRÀFIQUES DE CATALUNYA</h1>
    <div class="buttons">
        <button routerLink="/totals"><mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/totals">people</mat-icon></button>
        <button routerLink="/masculine"><mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/masculine">male</mat-icon></button>
        <button routerLink="/female"><mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/female">female</mat-icon></button>
    </div>
</div>
