/* You can add global styles to this file, and also import other style files */


* {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-family: 'Dosis', sans-serif;
}
app-root{
    min-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

html, body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
